<title>Sign Me Up - Ethereum Smart Contract Dapp</title>
<script type="text/javascript" src="/node/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/node/web3/web3.min.js"></script>
<script type="text/javascript" src="/node/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/event-details.js"></script>
<script type="text/javascript" src="/js/http-utils.js"></script>
<script type="text/javascript" src="/js/ethereum-utils.js"></script>
<script type="text/javascript" src="/js/owner-functions.js"></script>
<script type="text/javascript" src="/js/index.js"></script>

<link rel="stylesheet" type="text/css" href="/node/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

<script>
  $(document).ready(function() {

    getContract(new Web3(window.ethereum)).then(contract => {
      getActiveEventsCount(contract)
          .then(result => $("#ctrt-value").html("Active events count: " + result));

      getFooterContent(contract).then(element => {
        $("#footer").append(element);
      });

      getContractOwner(contract).then(owner => {
        if (owner.toLowerCase() == ethereum.selectedAddress.toLowerCase()) {
          let priceNav = `
            <li>
              <a href="/set-price"><span class="glyphicon glyphicon-piggy-bank"></span> Set Price</a>
            </li>
          `;
          $(priceNav).appendTo($('#nav-bar-main'));
        }
      });
    });

    ethereum.on('chainChanged', (chainId) => {
      window.location.reload();
    });

    ethereum.on('accountsChanged', (accounts) => {
      window.location.reload();
    });

    ethereum.on('disconnect', (err) => {
      window.location.reload();
    });

    ethereum.on('message', (message) => {
      $('#mm-status').html(message);
    });

  });
</script>