<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <script>
    $(document).ready(function() {

      var id = getUrlParam('id');
      console.log("Getting event details with id: " + id);

      getContract(new Web3(window.ethereum)).then(contract => {
        getEventById(id, contract)
          .then(entry => {
            appendEventDetailsTo(entry, "#event-details", contract);
          })
          .catch(err => {
            let alert = $('<div class="alert alert-info text-center" role="alert">Event not found or not on chain yet. Try again later</div>');
            alert.css('color', 'red');
            alert.appendTo($("#event-details"));
          });
      });

    });
  </script>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <div class="container">
    <div id="mm-status" class="alert alert-info text-center" role="alert"></div>
    <hr>
    <div id="event-details"></div>

    <%- include ("../partials/footer.ejs") %>

  </div>

</body>
</html>
