<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <script>
    $(document).ready(function() {
      var id = getUrlParam('id');
      console.log("GEtting event details with id: " + id);
      getEventById(id)
        .then(entry => $("#entry-details").html("Event title: " + entry.title));
    });
  </script>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="container">
  <div id="mm-status" class="alert alert-info text-center" role="alert"></div>
  <hr>
  <div id="active-events"></div>

  <%- include ("../partials/footer.ejs") %>

</div>

</body>
</html>
