<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <style>
    .info {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -10px;
      padding-bottom: 20px;
    }
  </style>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 style="margin-top: -15px;">Sign Me Up</h1>
    <div style="margin-top: 15px; margin-bottom: -20px;">
      <a type="button" class="btn btn-lg btn-default" href="/create-event"><span class="glyphicon glyphicon-plus"></span> Create Event</a>
      <a type="button" class="btn btn-lg btn-primary" href="/open-events"><span class="glyphicon glyphicon-ok"></span> Register</a>
    </div>
  </div>
</div>
<div class="container">
  <div id="mm-status" class="alert alert-info text-center" role="alert"></div>
  <div id="ctrt-value" class="alert alert-info text-center" role="alert"></div>
  <hr>
  <div class="info">
    <div>
      <h3><span class="glyphicon glyphicon-question-sign"></span> How it works</h3>
      <ul>
        <li>
          Imagine a situation when you're organizing some event but have actually less available spots than people who would like to attend. 
        </li>
        <li>
          Imagine a situation when you want to register for an event with limited spots and others registered earlier... no spots left
       </li>
       <li>
         With this dapp such problem dissappears. You can create the event, share it to ones that may be interested, give them some time for registration
         and when the registration due date passes, you close the event and the dapp randomly chooses the participants.
       </li>
      </ul>
    </div>
  </div>

  <%- include ("../partials/footer.ejs") %>

</div>

</body>
</html>
