<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 style="margin-top: -15px;">Sign Me Up</h1>
    <div style="margin-top: 15px;">
      <a type="button" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-flash"></span> Button 1</a>
      <a type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-download"></span> Button 2</a>
    </div>
  </div>
</div>
<div class="container">
  <div id="mm-status" class="alert alert-info text-center" role="alert"></div>
  <div id="ctrt-value" class="alert alert-info text-center" role="alert"></div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>Lorem 1</li>
        <li>Lorem 2</li>
        <li>Lorem 3</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Something else</h3>
      <ul>
        <li>Ipsum 1</li>
        <li>Ipsum 2</li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Footer
  </div>
</div>

</body>
</html>
