<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <script>
    $(document).ready(function() {
      showActiveEvents();
    });
  </script>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="container">
  <div id="mm-status" class="alert alert-info text-center" role="alert"></div>
  <hr>
  <div id="active-events"></div>
  
  <div class="alert alert-info text-center" role="alert">
    Footer
  </div>
</div>

</body>
</html>
